html, body{
	padding: 0; 
	margin: 0;
	background-color: black;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	overflow: hidden;
}
main {
	position: relative;
	overflow: hidden;
}
#earth_div{
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	height: 100vh;
	background-color: #000; 
	position: relative;
}
.popupDiv {
	font-family: 'Open Sans', sans-serif;
}
.popupDiv a {
	text-decoration: none;
	color: #112F57;
}
.popupDiv a:hover {
	text-decoration: underline;
}
.landing-page {
	font-size: 17px;
	font-weight: 700;
	width: 340px;
	height: auto;
	margin: 20px;
	background-color: rgba(223, 237, 255, 0.6);
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	position: absolute;
	opacity: 0;
	top: 2%;
	left: 1%;
	z-index: 1;

}
.pageTitle {
	max-width: 100%;
}

#slidecontainer {
	margin: 50px 0 20px 0;
	width: 100%;
}
.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 7px;
	background: #112F57;
	margin-bottom: 50px;
	outline: none;
	opacity: 0.6;
	-webkit-transition: all .5s;
	transition: opacity .5s;
}
.slider:hover,
.slider:focus {
	outline: none;
	box-shadow: inset 0px 0px 2px 1px red;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
	margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	margin-left: -1px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.submit, 
.travelButton, 
.searchAgainButton{
	border: none;
	border-radius: 5px;
	box-shadow: 3px 3px #585856;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: white;
	background-color: #112F57;
	transition: all 0.5s;
	-webkit-transition: background-color 0.30s ease-in-out;
	-moz-transition: background-color 0.30s ease-in-out;
	-ms-transition: background-color 0.30s ease-in-out;
	-o-transition: background-color 0.30s ease-in-out;
}
.submit:hover, 
.travelButton:hover, 
.searchAgainButton:hover {
	background-color: #0C213D;
	cursor: pointer;
}
.submit:focus, 
.travelButton:focus, 
.searchAgainButton:focus {
	background-color: #0C213D;
	outline: none;
	box-shadow: 0px 0px 4px red;
}
.submit:active, 
.travelButton:active, 
.searchAgainButton:active {
	background-color: #0C213D;
	box-shadow: 1px 1px #585856;
	transform: translateY(4px);
}
.searchAgainButton {
	text-decoration: none;
	position: absolute;
	bottom: 5px;
	left: 5px;
	padding: 3px 10px;
	margin: 3px 10px;
}
.searchAgainDiv {
	height: 30px;
	width: 100%;
	display: block;
	bottom: 0;
	left: 0;
}
.submit {
	padding: 10px 60px;
}
.submit span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.submit span:after{
	font-family: FontAwesome;
	content: '\f101';
	font-size: 20px;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.submit:hover span {
	padding-right: 25px;
}
.submit:hover span:after {
	opacity: 1;
	right: 0;
}
.travelButton {
	padding: 3px 6px;
	position: relative;
	display: inline-block;
	float: right;
}
h1, h2 {
	margin: 0;
}
h3, h4 {
	font-family: 'Poppins', 'Open Sans', sans-serif;
	padding-left: 10px;
	margin: 0;
}
h3  {
	font-size: 17px;
}
h4 {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}	
::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
	background: rgba(211, 85, 90, 0.8); 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
.left-section, .right-section {
	height: 100vh;
	width: 23%;
	background-color: rgba(223, 237, 255, 0.5);
	margin: 0;
	position: absolute;
	top: 30px;
	font-size: 14px;
	z-index: 1000;
}
.left-section {
	top: 0;
	left: -23%;
}
#leftTab {
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	text-align: center;
	padding: 15px 0 15px 0;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 30px;
	background-color: rgba(223, 237, 255, 0.5);
	color: #0C213D;
	top: 20px;
	right: -30px;
}
.earthquakeDataWrapper {
	height: 80%;
	margin-bottom: 20px;
}
.earthquakeData {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 55vh;
}
.locationSpan {
	display: inline-block;
	width: 80%;
}
.right-section {
	top:0;
	right: -23%;
}
#rightTab {
	cursor: pointer;
	border-radius: 5px 0 0 5px;
	text-align: center;
	padding: 15px 0 15px 0;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 30px;
	background-color: rgba(223, 237, 255, 0.5);
	color: #0C213D;
	bottom: 20px;
	left: -30px;
}
.right-top {
	height: 80%;
	overflow-y: scroll;
	overflow-wrap: break-word;
	padding: 10px;
}
.right-top p {
	padding: 0;
	margin: 0;
}
.right-top a {
	text-decoration: none;
	color: #112F57;
}
.right-footer {
	float: right;
	height: auto;
}
.socialbutton {
	color: white;
	height:20px;
	width: auto;
	bottom: 2px;
	transition: all 0.3s;
}
.socialbutton:hover {
	color: #112F57;
}
.socialbutton:focus {
	outline: none;
	box-shadow: 0px 0px 4px red;
}
.newsDiv a:focus {
	text-decoration: underline;
	outline-color:red;
}
.totalEarthquakes {
	font-size: 14px;
	padding: 0 10px;
}
.hidden {
	display: none;
}
.dataDiv {
	font-size: 13px;
	font-weight: 900;
	height: 15%;
	border-bottom: 1px solid black;
	padding: 10px;
}
.newsDiv {
	padding-top: 20px;
}
.mobileHeader {
	background-color: rgba(223, 237, 255, 0.5);
	width: 100%;
	height: 150px;
	overflow:hidden;
	position: absolute;
	z-index: 1000;
	top:0;
}
@media only screen and (max-width: 1200px) {
	.earthquakeData {
		height: 55vh;
		font-size: 2vh;
	}
}
@media only screen and (max-width: 992px) {
	.totalEarthquakes {
		font-size: 2vh;
	}
	.dataDiv {
		height: auto;
		overflow-wrap: break-word;
	}
	.landing-page {
		font-size: 3vmin;
	}
}
@media only screen and (max-width: 768px) {
	h4 {
		font-size: 15px;
	}
	.right-top {
		font-size: 12px;
	}
	.right-top a {
		font-size: 12px !important;
	}
	.locationSpan {
		font-size: 11px;
		width: 60%;
	}
	.slider::-webkit-slider-thumb {
		height: 20px;
		width: 20px;
	}
	.searchAgainDiv {
		left: 2%;
	}
}
@media only screen and (max-width: 480px) {
	.earthquakeData {
		height: 80%;
	}
	.leftLogo {
		display: none;
	}
	canvas {
		height: 100vh;
	}
	.landing-page {
		opacity: .99;
		top: 20%;
		left: 15%;
		width: 50%;
	}
	.left-section,
	.right-section {
		height: 500px;
		top: 150px;
		opacity: .99;
		width: 90%;
	}
